.marg-top {
  margin-top: 3em;
}
h1 {
  text-align: center;
}
hr {
    height: 2px;
    background-color:#555;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}
.newsSection {
  font-size: 18px;
}
