@import url(https://fonts.googleapis.com/css?family=Questrial);

body{
  font-family: 'Questrial', sans-serif !important;
}
.container-fluid {
  background: url(https://images.unsplash.com/photo-1431538510849-b719825bf08b?fit=crop&fm=jpg&h=825&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1450);
}
.bottom {
  background-color: white;
}
.marg-top {
  margin-top: 3em;
}
h1 {
  font-weight: bold !important;
  text-align: center;
  font-size: 48px !important;
  color: #009688 !important;
}
h2{
  color: #009688 !important;
}
hr {
  height: 2px;
  background-color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}
.newsSection {
  font-size: 16px;
  /*font-weight: bold;*/
}
.section {
  font-size: 16px;
  font-weight: bold;
}
.searchfield {
  text-align: center;
}
#searchbar {
  width: 50%;
  margin: 0 auto;
}
.btn {
  margin-top: .5em;
  font-size: 24px !important;
  color: black;
  background-color: #FFEB3B;
  font-style: normal;
}
.intro {
  text-align: center;
}
.text-primary {
  color: #009688 !important;
}
a {
  color: #009688 !important;
}
.searched {
  font-size: 16px;
}
#errortag {
  color: #009688 !important;
  font-style: italic;
  font-size: 20px;
}
.fa {
  color: #009688 !important;
}
.headings {
  font-size: 21px !important;
}
.attributed {
  margin-bottom: 100px !important;
}
.splash {
  background-color: lightgray;
}
