/*.page {
  background-color: #1DE9B6;
}*/
.marg-top {
  margin-top: 3em;
}
h1 {
  text-align: center;
  font-size: 46px !important;
  color: #009688 !important;
}
hr {
  height: 2px;
  background-color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}
.newsSection {
  font-size: 16px;
  /*font-weight: bold;*/
}
.section {
  font-size: 16px;
  font-weight: bold;
}
.searchfield {
  text-align: center;
}
#searchbar {
width: 50%;
margin: 0 auto;
}
.btn {
  margin-top: .5em;
  font-size: 24px !important;
  color: black;
  background-color: #FFEB3B;
  font-style: normal;
}
.intro{
  text-align: center;
}
.text-primary {
  color: #009688 !important;
}
a {
  color: #009688 !important;
}
.searched {
  font-size: 16px;
}
#errortag {
  color: #009688 !important;
  font-style: italic;
}
.fa {
  color: #009688 !important;
}
.headings{
  font-size: 21px !important;
  /*font-weight: normal;*/

}
